*{
    margin: 0;
    padding: 0;
}
body{
    background-color: bisque;
}
.MainHome_header{
    text-transform: uppercase;
    color: green;
    font-size: 10vw;
    height: 30vh;
    line-height: 30vh;
    display: flex;
    justify-content: center;
}
.MainHome_main{
    background-color: #66666670;
    display: grid;
    place-items: center;
    height: 110px;
}
li{
    list-style: none;
    display: inline-block;
}
a{
    text-decoration: none;
    padding: 30px;
    display: block;
}
.MainHome_nav li{
    color: green;
    font-size: 20px;
    text-transform: uppercase;
}
a:hover{
    color: white;
    text-shadow: 4px 4px 3px #666;
    transition: background-color #ffffff79;
}
.MainHome_search_input{
    /* border: 0; */
    outline: none;
    background-color: #66666600;
}
/* .MainHome_search_button{

} */