@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');

/* ========= tag ========= */
* {
    box-sizing: border-box;
}
*::selection{
    background:gold;
}
body {
    font-family : 'Noto Sans KR', 'sans-serif';
    margin: 0 auto;
    color:rgb(22, 22, 22);
}
h1,h2{
    font-family: 'NanumSquare', 'sans-serif';
}
a {
    all: unset; /* reset */
}
a:link {
    text-decoration : none;
    color:rgb(22, 22, 22);
}
a:visited {
    text-decoration : none;
    color:rgb(22, 22, 22);
}
a:active {
    text-decoration : none;
    color:rgb(22, 22, 22);
}
a:hover {
    text-decoration : none;
    color:rgb(22, 22, 22);
}
section {
    width: 100%;
    /* background: #000; */
    position: relative; /* section의 default로 많이 설정함*/
}
header {
    width: 100%;
    height: 60px;
    background: #fff;
    position: fixed; /* fixed는 문서의 흐름에 지장x(float되어 있음) */
    top: 0;
    left: 0;
    z-index: 1000;
}
/* ========= class ========= */
.content-wrap{
    margin: 0 auto;
    padding: 0 15px;
}
.inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* overflow: hidden; */
}
.hidden{
    overflow: hidden;
}
.head-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.head-container a:hover{
    color: rgb(0, 119, 255);
}
.head-container .head-title{
    font-weight: bold;
    font-size: 1.2rem;
}
.head-container .head-desc{
    font-weight: bold;
    font-size: 1.1rem;
}
.main {
    height: 250px;
    margin: 0 auto;
    background-image: url(../images/section.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    z-index: 1;
}
.main-container{
    width: 100%;
    height: 100%;
    background-color: rgb(20, 20, 20);
    opacity: 0.8;
    z-index: 2;
}
.title-container {
    height: 100%;
    padding: 20px 15px;
    padding-bottom: 0.5em;
    margin-top: 60px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-container:hover .title{
    transform: translate(0%,-65%);
}
.title-container:hover .message{
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: 0.5s;
}
.title{
    font-family: 'NanumSquare';
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
    /* margin-top: 1.2rem; */
    text-align: center;
    /* transform: translate(0%,65%); */
    transition-property: transform, opacity;
    transition-duration: 0.7s;
}
.message{
    position: absolute;
    text-align: right;
    bottom: 4%;
    right: 1.5%;
    line-height: 2rem;
    font-size: 1.4rem;
    opacity: 0;
    transition-duration: 0.3s;
}


.skill-container{
    width: 100%;
    height: 70px;
    margin-top: 1.5rem;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.skill-background{
    display: flex;
    margin: 0;
    padding: 0;
    background-color: midnightblue;
    width: 20%;
    margin: 0.3rem 1rem;
    height: 100%;
    border-radius: 11px;
}
.skill{
    width: 100%;
    background: #fff;
    border-radius: 9px;
    display: flex;
    align-items: center;
    color: #332f2f;
    box-shadow: 5px 5px 15px -1px #332f2f25;
    transition-property: transform; /*container의 height 변화 X*/
    transition-duration: 0.3s;
}
.skill:hover .skill-desc{
    margin: 0.5rem 0px;
    opacity: 1;
    height: 10px;
    transition-property: height, opacity; /*height를 0으로 했다가 hover시 수치를 적용하는 방식으로 숨겼다가 보이게 하기*/
    transition-duration: 0.3s;
}
.skill:hover{
    transform: translate(0%,-7px);
    transition-property: transform;
}
.skill-title{
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.skill-icon{
    margin: 0 7px;
    font-size: 2rem;
}
.skill-name{
    font-weight: bold;
}
.skill-desc{
    font-size: 0.74rem;
    opacity: 0;
    height: 0;
    transition-property: height, opacity;
    transition-duration: 0.3s, 0s;
    transition-delay: 0s, 0s;
}
.python-style{color: royalblue;}
.js-style{color: gold;}
.drawing-style{color: crimson;}
.react-style{color:turquoise}


.favorite-container{
    width: 100%;   
    margin-top: 1.5rem;
}
.favorite-title-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.favorite-title{
    font-size: 1.3rem;
    font-weight: bold;
    color: #332f2f;
}
.slide-prev{
    font-size: 1.7rem;
    cursor: pointer;
    color:midnightblue;
}
.slide-next{
    font-size: 1.7rem;
    cursor: pointer;
    color:slategray;
}
.arrow-container{
    display: flex;
}
.arrow-container>i{
    margin: 0 2px;
}
.favorite-list{
    width: 100%;
    display: flex;
    list-style: none;
    padding: 0;
}
.favorite-card{
    max-width: 240px; /*100%로 하면 그 비율을 유지하기 위해서 보이는 화면에서 줄어든다.*/
    box-shadow: 5px 5px 15px -1px #332f2f25;
    border-radius: 8px;
    margin: 0 10px;
    /* white-space: nowrap; */
    /* min-width: 240px; */
    transition-property: transform;
    transition-duration: 0.3s;
    flex-shrink: 0; /*IE에서 flex가 좀 다르기 때문에 이렇게 축소되지 않도록 설정*/
}
.favorite-card:hover {
    transform: translate(0%, -5px);
}
.favorite-card img{
    /* max-width: 240px; */
    width: 100%;
    height: 160px;
    border-radius: 8px 8px 0 0;
    opacity: 0.9;
}
.card-container{
    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: column wrap;
}
.card-type-container{
    width: 100%;
    padding: 3px 10px;
    display: flex;
    justify-content: space-between;
}
.card-type{
    font-size: 12px;
    color: #666;
}
.card-type-image{
    font-size: 14px;
    color: #333;
}
.card-info-container{
    padding: 3px 10px;
    width: 100%;
    display: flex;
    flex-flow: column  wrap;
    color:rgb(53, 53, 53);
}
.card-title{
    margin-bottom: 10px;
    font-size: 18px;
    width: 220px; /*설정해주지 않으면 말줄임 속성 X*/
    height: 23px;
    font-weight: bold;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
.card-subtitle{
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5rem;
}

footer{
    border-top: 1px solid #aaa;
    background-color: #eee;
    padding: 1rem 0;
    margin-top: 1rem;
    padding-left: 10px;
}
.footer-message{
    color: #333;
    margin-bottom: 0.2rem;
    font-weight: bold;
    font-size: 0.9rem;
}
.footer-contact{
    color: #666;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 0.9rem;
}
.footer-copyright{
    color: #666;
    font-weight: bold;
    font-size: 0.9rem;
}

#backtotop {
    background-color: midnightblue;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    position: fixed; /*원래는 after라면 블록의 다음에 적용이 되야함 하지만*/
    bottom: 30px;   /* fixed로 문서의 흐름에서 벗어나서 그 다음에 오는 아이콘과 겹쳐지는 것!*/
    right: 30px;
    visibility: hidden;
    opacity : 0;
    transition-property: background-color, opacity, visibility,;
    transition-duration: 0.3s, 0.5s, 0.5s;
    z-index: 9999; /*맨 위로 와야할 때 이렇게 표현하는 것이 국룰(9999도 포함)*/
    cursor: pointer;
}
/*아이콘 적용 방법
1. ::after (요소 뒤에 content 추가)
2. content : 유니코드 적용(from 폰트어썸)
3. font-family : FontAwesome 으로 적용
*/
#backtotop::after{
    content : "\f077";
    font-family: FontAwesome;
    font-size: 1.5rem;
    line-height: 40px;
    color: white;
}
#backtotop.show {
    opacity: 1;
    visibility: visible;
    background-color: midnightblue;
}
#backtotop.up {
    animation-name : up;
    animation-timing-function: linear;
    animation-duration: 0.5s;
}
@keyframes up {
    60% {
        transform: translate(0px,-50px) rotateY(540deg);
        /* height: 60px; */
        /* background-color: rgb(0, 119, 255); */
        background-color: gold;
    }
}
/*반응형*/
@media only screen and (min-width: 1200px) {
    
    .inner {
        max-width: 1200px;
    }
    .main {
        max-width: 1200px;
        height: 250px;
    }
    .skill-container{
        max-width: 1200px;
    }
}
@media only screen and (max-width: 1048px) {
    .skill{
        width: 100%;
    }
    .skill-desc{
        /* display: none; */
        font-size: 0.74rem;
    }
    
    
}
@media only screen and (max-width: 916px){
    .skill-title{
        display: none;
    }
    .skill-icon{
        margin: 0;
    }
    .skill-background{
        height: auto;
        width: auto;
        background: none;
    }
    .skill{
        width: auto;
        height: auto;
        padding: 0.5rem;
        border-radius: 50%;
    }
    .content-wrap{
        padding: 0;
    }
    .main {
        padding: 0;
        height: 70px;
    }
    .title-container {
        height: 100%;
        margin-top: 60px;
        padding: 10px 5px;
        color: #fff;
        align-items: center;
    }
    .title-container:hover .title{
        transform: translate(0%,0%);
    }
    .title{
        position: absolute;
        margin: 0;
        font-family: 'NanumSquare';
        font-weight: bold;
        font-size: 7vw;
        color: #fff;
    }
    .message{
        visibility:hidden;
    }
    .favorite-container{
        width: 95%;
        margin-left: 10px;
        overflow: hidden;
    }
    .favorite-card{
        width: 180px;
    }
    .favorite-card img{
        width: 180px;
        height: 120px;
    }
    .card-title {
        width: 170px;
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    #backtotop {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        bottom: 20px;
        right: 20px;
    }
    #backtotop::after{
        font-size: 1.2rem;
        line-height: 30px;
    }
}
