body{
    margin: 0;
    padding: 0;
    background-color: bisque;
}
li{
    list-style: none;
}
.header_name{
    /* background-color: aqua; */
    color: green;
    font-size: 200px;
    font-weight: 900;
    height: 500px;
    line-height: 500px;
    text-align: center;
    text-transform: uppercase;
}
.MainHome_navDiv{
    margin: 0 50px;
    background-color: gray;
}
.MainHome_nav li{
    box-sizing:border-box;
    color: green;
    font-size: 25px;
    font-weight: 600;
    width: 15%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    display: block;
    /* border-right: 1px solid black; */
    float: left;
}

.MainHome_nav :hover{
    color: white;
    background-color: #ffffff79;
    text-shadow: 4px 4px 3px #666;
}
