.con{
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.MainBody{
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.A1 {
    position: absolute;
    left: 0px;
    z-index: 1;
}
.A2 {
    position: absolute;
    left: 0px;
    z-index: 2;
}
.A3 {
    position: absolute;
    left: 0px;
    z-index: 3;
}
.A1 {
    position: absolute;
    left: 0px;
    z-index: 0;
}